.helpTabWrapper {
    background-color: rgb(92, 92, 92);
    /* height: calc(100%-60px); */
    height: 100%;
    width: 100%;
    place-items: center;
    position: absolute;
    top: 60px;
    padding-top: 80px;
}

.helpTabInfo {
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(124, 124, 124);
    text-align: center;
    width: 40%;
    min-width: 500px;
    margin-left: 30%;
    box-shadow: black 3px 3px 11px 2px;
}

.helpInfoHeader {
    font-family: Poppins, 'sans-serif';
    color: white;
}

.helpInfo {
    font-family: Poppins, 'sans-serif';
    color: white;
}
