.PlannerTabWrapper {
    background-color: white;
    font-family: Poppins, 'sans-serif';
    color: rgb(14, 14, 14);
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 3rem;
}

.PlannerTabIntro {
    padding: 10px;
}

.PlannerTableContainer {
    background-color: rgb(133, 133, 133);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1rem;
    text-align: center;
    max-width: min(95%, 1200px);
}

.PlannerTabHeader {
    font-family: Poppins, sans-serif;
    text-align: center;
}

.EligibleContent {
    transition: 0.25s;
    background-color: rgba(94, 252, 94, 0.432);
}

.IneligibleContent {
    transition: 0.25s;
    background-color: white;
}

.PlannerTableHeader {
    font-family: Poppins, sans-serif;
    background-color: rgb(207, 207, 207);
}

.ChangeWeekInfo {
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: small;
}

.SeriesTable {
    background-color: rgb(230, 228, 228);
    margin-bottom: 0;
}
