.planner-tab-wrapper {
    background-color: white;
    font-family: Poppins, 'sans-serif';
    color: rgb(14, 14, 14);
    position: absolute;
    width: 100%;
}

.planner-tab-intro {
    padding: 10px;
}

.planner-table-container {
    background-color: white;
    background-color: rgb(133, 133, 133);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    padding: 0.1rem;
    max-width: min(95%, 1200px);
}

.planner-tab-header {
    font-family: Poppins, sans-serif;
    text-align: center;
}

.week-selection-info {
    font-family: Poppins, sans-serif;
    text-align: center;
    font-size: small;
}
