.changeWeeksContainer {
    text-align: center;
}

.changeWeekButton {
    margin: 0.4rem !important;
}
.changeWeekButton:hover {
    box-shadow: black 1px 3px 6px;
    font-weight: 600;
    color: rgb(245, 0, 87);
}
